Package: corpochain-beacon-client-cli
Version: {{ CORPOCHAIN_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Corpochain <hello@corpochain.pl>
Description: Corpochain Beacon Client
 Corpochain is an EVM-compatible blockchain using a Proof of Space and Time consensus.
